<ul class="social">
	<li><a href="https://twitter.com/savannahmillion" target="_blank"><img src="{{ theme:img src="twitter.png"}}"></a></li>
	<li><a href="https://dribbble.com/savannahmillion" target="_blank"><img src="{{ theme:img src="dribbble.png"}}"></a></li>
	<li><a href="https://www.linkedin.com/in/savannahmillion" target="_blank"><img src="{{ theme:img src="linkedin.png"}}"></a></li>
	<li><a href="http://codepen.io/savannahmillion/" target="_blank"><img src="{{ theme:img src="codepen.png"}}"></a></li>
	<li><a href="https://github.com/savannahmillion" target="_blank"><img src="{{ theme:img src="github.png"}}"></a></li>
	<li><a href="http://www.rdio.com/people/savannahmillion/" target="_blank"><img src="{{ theme:img src="rdio.png"}}"></a></li>
</ul>